body {
    padding-top: 70px;
    background-color: #fff;
}

.app-main-layout .app-content {
    padding-top: 10px;
    padding-bottom: 50px;
}

.app-header {
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
}

.app-header .navbar-brand,
.app-header .navbar-brand:hover,
.app-header .navbar-brand:visited {
    color: #b92b27;
    font-weight: bold;
    font-size: 24px;
    margin-top: 3px !important;
}

.app-header .navbar-brand .app-logo {
}

.app-header .navbar .form-group,
.app-header .navbar .input-group {
    width: 100%;
}

.app-header .navbar .input-group input {
    height: 40px;
}

.app-header .navbar .input-group input[type=text] {
    background-color: #F4F4F4;
}

/* Search button fixed width */
.app-header .navbar-form .input-group-addon {
    width: 60px;
    background-color: #fff;
}

.app-header .active {
    color: #b92b27 !important;
}

@media (min-width: 768px) {
    .app-header {
        height: 63px;
    }
    .app-header .navbar-form {
        width: 60% !important;
        margin-top: 10px;
        margin-left: 15px;
    }
    .app-header .navbar-nav,
    .app-header .navbar-brand {
        margin-top: 5px;
    }
}

.app-page-header{
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .app-categories-placeholder {
        position: fixed;
        min-width: 210px;
        border-right: 1px solid #eee;
        height: 100vh;
        left: 0;
    }
}

@media (min-width: 768px) {
    .app-article {
        font-size: 14px;
    }

    .app-article-left-margin {
        padding-left: 30px
    }

    .app-article-right-margin {
        padding-right: 30px
    }
}

@media (max-width: 768px) {

}

.app-categories ul {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
}

.app-categories ul li {
    margin-top: 5px;
}

.app-categories ul a {
    cursor: pointer;
    color: #555;
    font-size: 12px;
}

.app-categories .app-categories-header {
}

.app-categories .app-categories-header a {
    font-size: 15px;
}

.app-categories ul li {
}

.app-categories .divider {
    border: 1px solid #f5f5f5;
}


.app-home {
}

.app-home-image {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.app-home-content {
    margin-top: 40px;
    font-size: 16px;
}

.app-home-content h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .app-home-image {
        margin-top: -23px;
    }
}

@media (min-width: 1024px) {
    .app-wine-making-varieties h3 {
        margin-top: 0;
    }
}

.product-tile {
    width: 100%;
    font-size: 14px;
    color: #555;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.21);
    border-radius: 3px;
    background-color: #fff;
    margin-top: 25px;
    transition: all 0.2s ease;
    padding-bottom: 20px;
}

.product-tile:hover{
}

.product-tile .product-tile-price-details {
    margin-top: 70px;
}

@media (max-width: 1024px) {
    .product-tile .product-tile-price-details {
        margin-top: 30px;
    }
}

.product-tile .product-actions .btn {
    transition: all 0.2s ease;
}

.product-tile:hover .product-actions .btn {
    background-color: #b92b27;
    color: #fff;
}

.product-tile .btn {
    font-size: 10px;
}


.product-tile .product-image,
.product-tile .product-image img {
    width: 100px;
    margin: 0 auto;
}

.product-tile .product-image img {
    width: 100%;
    height: 100%;
}

.product-tile hr {
    height: 1px;
    border: none;
    color: #eee;
    background-color: #ccc;
}

.product-tile .product-title {
    margin-top: 10px;
    font-weight: bold;
}

.product-tile .product-short-description {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
}

.product-tile .product-actions {
    margin-top: 10px;
}


/* Only header layout */
.app-only-header-layout .app-content {
    margin-left: 0;
}

@media (min-width: 768px) {
    .app-layout-with-categories .app-content {
        margin-left: 220px;
    }
}


/*Sign up page*/
.app-sign-up {

}

.header-shopping-cart {
}
